<html ng-app="App">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="angular-filter.js"></script>
        <script src="data.js"></script>
        <script src="app.js"></script>
        <script src="filter.js"></script>
    </head>
    <body ng-controller="TestCtrl">
         <h1>test</h1>
         <p>Status filter: </p>
         <select ng-model="filter.StatusId" ng-options="key as value for (key , value) in statuses"></select>

         <p>Group filter: </p>
         <input type="text" ng-model="filter.Group">

         <p>$ filter: </p>
         <input type="text" ng-model="filter.$">


         <h2>Data:</h2>
         <div>
             <div ng-repeat="model in data | full:filter">
                 <span>{{::model.Id}}</span>
                 <span>{{::model.Group}}</span>
                 <span>{{::model.Status}}</span>
             </div>
         </div>

          <h2>Filter:</h2>
          <div>
              {{filter}}
          </div>
    </body>    
</html>